.chart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .chart-box {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 0 10px; 
    height: max-content;
    background-color: rgb(243, 246, 246);
  }
  
  .chart-box h3 {
    margin-top: 0;
  }
  
  .chart-box canvas {
    width: 100%;
  height: 500px;
  margin: 0 auto; 
  display: block;
  }
  
  .canvas-container {
    width: 100%;
    margin: 0 auto; 
  }
  